

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-variation-settings:

  font-style: normal;

  "width" 100;
}

*{
  margin:0;
  padding:0;
}

.header{
  min-height: 88vh;
  width: 100%;
  background-image: url(../assets/Hero-bg.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

#logo{
  display: flex;
  justify-content: center;
  padding: 30px;

}

.text-book{
  width: 90%;
  color: ;
  position: absolute;
 top:50% ;
 left: 50%;
 transform: translate(-50%,-50%);
 text-align: center;
margin-block: 135px;


}

.text-book h1{
  margin: 0;
  padding: 0;
font-size: 62px;
/* margin-bottom: 10px; */
display: flex;
text-align: center;

}

.text-book p{
  margin:0 98px 0 120px;
  font-size: 14px;
  color: #0D1321;
}

.btn-primary{
  background-color: black;
  font-weight: 600;
  font-size: 20px;
  color: white;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  margin-block: 55px;
}

.about-secondary-bg{
  background-color: #f9f6f4;
  margin-block: 125px;
  text-align: center;
  padding: 0 20px 0  25px ;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 80px
  
}

.section-title{
  font-size: 27px ;
  font-weight: 800 ;
  color: #181818 ;
  margin-bottom: 10px;
}

.section-description{

    font-size: 15px ;
    color: #757575;
    width: 85%;
    text-align: center;
    margin-block: 20px;
    margin-right: 8px;
    margin-left: 90px;
}

.img-set{
  padding-left: 650px;
}

.development-title{
  /* padding-right: 550px; */
  
  padding-top: 5px;
  padding-right: 970px;
  padding-bottom: 5px;
  padding-left: 180px;
}

.section-titles{

  font-size: 27px ;
  font-weight: 800 ;
  color: #181818 ;
  margin-bottom: 10px;
  text-align: center;

}

.section-descriptions{
  
    font-size: 15px ;
    color: #757575;
    width: 85%;
    text-align: center;
    margin-block: 20px;
    margin-right: 8px;
    margin-left: 90px;
}


.video{
  width: 780px;
  height: 455px;
  margin: 0 40px 25px 340px;
  border-radius: 5px;
}

.skills{
  margin-block: 130px;
}

.skill{
  font-size: 27px ;
  font-weight: 800 ;
  color: #181818 ;
  margin-bottom: 10px;
  text-align: center;
}

.skills-description{
  
  font-size: 15px ;
  color: #757575;
  width: 65%;
  text-align: center;
  margin-block: 20px;
  margin-right: 18px;
  margin-left: 265px;
}

.skills-container{
  display: flex;
  width: 80%;
  margin-left:140px ;
  gap: 30px;
 
  
  
}


.skillls1{
  padding: 40px ;
  border: 20px;
  border-radius: 13px;
  background-color: #f5f3f3;
  
}


.skillls2{
  padding: 40px ;
  border: 20px;
  border-radius: 13px;
  background-color: #eff3fb;
  
}

.skillls3{
  padding: 40px ;
  border: 20px;
  border-radius: 13px ;
  background-color: #fbfce4;
  
}
.skillls-title{
  font-size: 20px;
}

.cta{

  margin:100px auto;
  width: 80%;

  background-image: linear-gradient(180deg,rgb(16,16,16) -19.5%,rgba(16,16,16,0) 100%),
   url(../assets/handshake.jpg);
  background-position:center ;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}


.cta h3{
  color: #fff;
  font-size: 40px; 
  margin-bottom: 5px;
  padding: 0;
  margin-top: -1.5em;
}

.cta p{

  font-size: 15px ;
  color: #cbc9c9;
  width: 65%;
  text-align: center;
  margin-block: 20px;
  margin-right: 2px;
  margin-left: 185px;
}

.cta1{

 padding: 12px;
  align-items: center;
  margin: 50px;
  width: 80%;
 
}

.cta1 input{
  padding: 12px;
  /* margin: 20px; */
  width: 25%;
  border-radius: 10px;
  justify-content: space-between;
}